.green-btn{
    background: url("../../images/common/btn_green.png") no-repeat;
    width:192px;
    height:72px;
    cursor: pointer;
    font-size:30px;
	color:#074500;
	font-weight:bold;
    border:none;
}
.green-btn-long{
	background: url("../../images/common/btn_green_long.png") no-repeat;
	width:794px;
	height:87px;
	cursor: pointer;
	font-size:40px;
	color:#074500;
	font-weight:bold;
	border:none;
}
.green-btn-medium{
	background: url("../../images/common/btn_green_medium.png") no-repeat;
	width:391px;
	height:87px;
	cursor: pointer;
	font-size:40px;
	color:#074500;
	font-weight:bold;
	border:none;
}
.blue-btn{
    background: url("../../images/common/btn_blue.png") no-repeat;
    width:192px;
    height:72px;
    cursor: pointer;
    font-size:30px;
	color:#1A3AA1;
	font-weight:bold;
    border:none;
}
.blue-btn-medium{
	background: url("../../images/common/btn_blue_medium.png") no-repeat;
	width:391px;
	height:87px;
	cursor: pointer;
	font-size:40px;
	color:#1A3AA1;
	font-weight:bold;
	border:none;
}
.yellow-btn{
    background: url("../../images/common/btn_yellow.png") no-repeat;
    width:192px;
    height:72px;
    cursor: pointer;
    font-size:30px;
	color:#622202;
	font-weight:bold;
    border:none;
}
.yellow-btn-medium{
	background: url("../../images/common/btn_yellow_medium.png") no-repeat;
	width:391px;
	height:87px;
	cursor: pointer;
	font-size:40px;
	color:#622202;
	font-weight:bold;
	border:none;
}
.green-btn-s{
    background: url("../../images/common/btn_green_s.png") no-repeat;
    width:170px;
    height:52px;
	padding:10px 0;
    cursor: pointer;
    font-size:25px;
	color:#074500;
	font-weight:bold;
    border:none;
}
.green-btn-s2{
	background: url("../../images/common/btn_green_s2.png") no-repeat;
	width:192px;
	height:86px;
	padding:10px 0;
	cursor: pointer;
	font-size:32px;
	color:#074500;
	font-weight:bold;
	border:none;
}
.blue-btn-s{
    background: url("../../images/common/btn_blue_s.png") no-repeat;
    width:170px;
    height:52px;
	padding:10px 0;
    cursor: pointer;
    font-size:25px;
	color:#1A3AA1;
	font-weight:bold;
    border:none;
}
.yellow-btn-s{
    background: url("../../images/common/btn_yellow_s.png") no-repeat;
    width:170px;
    height:52px;
	padding:10px 0;
    cursor: pointer;
    font-size:25px;
	color:#622202;
	font-weight:bold;
    border:none;
}

.btn-return{
	background: url("../../images/common/btn_return.png") no-repeat;
	width:119px;
	height:65px;
	padding:10px 0;
	cursor: pointer;
	font-size:32px;
	color:#622202;
	font-weight:500;
	border:none;
}

.fill-height{
	width:100%;
	height:100px;
}

.container{
	width:100%;
	background-color:#eeeff3;
}
.header{
	position: relative;
	width:100%;
	height:157px;
	background: url(../../images/index/header_bg.png) no-repeat;
}
.header .logo{
	position: absolute;
    display:inline-block;
	top:20px;
	left:140px;
}
.header .logo img{
	height:120px;
}
.header .header-ad{
	position: absolute;
	top:20px;
	left:340px;
}

.userbar{
	width:100%;
	height:89px;
	background: url(../../images/index/userbar_bg.png) no-repeat;
}
.userbar .head-bg{
	float:left;
	width:80px;
	height:80px;
	margin:5px 0px 0px 5px;
	padding:5px 0px 0px 5px;
	background: url(../../images/index/head_bg.png) no-repeat;
}
.userbar .head-bg .head{
	width:70px;
	height:70px;
}
.userbar .userinfo{
	float:left;
	margin-left:40px;
}
.userbar .userinfo .info-ico{
	float:left;
	width:50px;
	height:44px;
	margin-left:20px;
	text-align:center;
	line-height: 105px;
}
.userbar .userinfo .info{
	float:left;
    display:inline-block;
	width:200px;
	margin-left:10px;
	line-height:87px;
	color: #ffffff;
	font-size: 32px;
}

.navbar{
	width:100%;
	height:128px;
	background: url(../../images/index/navbar_bg.png) no-repeat;
    clear: both;
}
.navbar .nav-item{
    display:inline-block;
	float:left;
	width:133px;
	height:128px;
	text-align:center;
}

.navbar .nav-item img{
	margin-top: -4px;
}

.noticebar{
	width:100%;
	height:58px;
	background: url(../../images/index/noticebar_bg.png) no-repeat;
}
.noticebar .notice{
    display:inline-block;
	margin-left:50px;
	width:750px;
	overflow:hidden;
	color:#ffffff;
}
.noticebar .notice span{
	line-height:58px;
}

.titlebar{
	position: relative;
	width:100%;
	height:99px;
	background: url(../../images/member/header_bg.png) no-repeat;
}
.titlebar .title{
	position: absolute;
	left: 242px;
	top: 15px;
    display:inline-block;
	width:315px;
	text-align:center;
}
.titlebar .return_btn{
	position: absolute;
	right: 10px;
	top: 25px;
	width:188px;
	height:43px;
	background: url(../../images/member/btn_return_hall.png) no-repeat;
}
.green-btn{
    background: url("../../images/common/btn_green.png") no-repeat;
    width:192px;
    height:72px;
    cursor: pointer;
    font-size:30px;
	color:#074500;
	font-weight:bold;
    border:none;
}
.blue-btn{
    background: url("../../images/common/btn_blue.png") no-repeat;
    width:192px;
    height:72px;
    cursor: pointer;
    font-size:30px;
	color:#1A3AA1;
	font-weight:bold;
    border:none;
}
.yellow-btn{
    background: url("../../images/common/btn_yellow.png") no-repeat;
    width:192px;
    height:72px;
    cursor: pointer;
    font-size:30px;
	color:#622202;
	font-weight:bold;
    border:none;
}

.sub-navbar{
	width:100%;
}
.sub-navbar .nav-row{
	margin-top:6px;
	width:100%;
    clear: both;
}
.sub-navbar .nav-row:first-child{
	margin-top:10px;
}
.sub-navbar .nav-row:last-child{
	margin-bottom:10px;
}
.sub-navbar .nav-item{
	float:left;
	background: url("../../images/common/btn_blue.png") no-repeat;
    width:192px;
    height:72px;
	margin-left:6px;
    font-size:30px;
	color:#1A3AA1;
	font-weight:bold;
	text-align:center;
	line-height:72px;
    border:none;
}
.sub-navbar .nav-item.current{
    background: url("../../images/common/btn_yellow.png") no-repeat;
	color:#622202;
}
.sub-navbar .nav-item.long{
	background: url("../../images/common/btn_blue_2.png") no-repeat;
    width:389px;
}
.sub-navbar .nav-item.long.current{
    background: url("../../images/common/btn_yellow_2.png") no-repeat;
}

.sub-navbar .nav-item.account{
	background: url("../../images/common/btn_blue_account.png") no-repeat;
	width:260px;
	margin-left:5px;
}
.sub-navbar .nav-item.account.current{
	background: url("../../images/common/btn_yellow_account.png") no-repeat;
}

.main{
	width:100%;
}

.footer{
	width:100%;
}
.logout a{
	background: url("../../images/common/btn_logout.png") no-repeat;
	width:103px;
	height:72px;
	padding: 13px 17px;
	line-height: 87px;
	font-size: 32px;
	font-weight: 600;
}