.register-form{
    /*margin:70px 0px 50px 50px;*/
}
#mobile_verify, #captcha_code{
    width: 500px;
}
.captch_img{
    width:190px;
    height:82px;
    vertical-align:top;
    border:1px solid #aaa;
}
#verify_btn{
    width: 220px;
    height: 60px;
    /*background-color: #2ea792;*/
    background: #2ea792;
    color:#FFFFFF;
    border:none;
    border-radius: 10px;
    -webkit-appearance: none;
}
#register_btn{
    float:left;
    margin:0 10px 0 2px;
    /*margin-left:140px;*/
}
#login_btn{
    /*margin-left:60px;*/
    float:left;
}
.table-form .form-row.btn-row{
    padding:5px 0;
}